[Desktop Entry]
Type=zomando
Icon=/usr/share/banners/lliurex-neu/zero-lliurex-transparent-proxy.png
NoDisplay=true
Name=zero-lliurex-transparent-proxy
